body {
}

.imgdiv{height:220px; background-color:#337ab7;}

.SignUp{text-align: end;}

.Login{text-align: end;}

#Offer{margin-bottom:15px;}

@media only screen and (max-width:400px) {
    #h3C{font-size:14px;}
}

@media only screen and (min-width:400px) and (max-width:700px) {
    #h3C{font-size:16px;}
}

.slidingimg{width:100%;}

.side_img_div{display:none;}

.stage_ranking_div{padding-left:5px; padding-right:5px;}
